body {
  font-family: "Open Sans", Hevletica, sans-serif;
}

.width-5 {
  width: 80px; 
  width: 5rem;
}

.height-5 {
  height: 80px;
  height: 5rem;
}

.max-width {
  max-width: 900px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}
