body {
  font-family: "Open Sans", Hevletica, sans-serif;
}

.width-5 {
  width: 80px; 
  width: 5rem;
}

.height-5 {
  height: 80px;
  height: 5rem;
}

.max-width {
  max-width: 900px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.word-break {
  word-break: break-word;
}

@media screen and (max-width: 48em) {

  header.p4,
  section.p4 {
    padding: 1rem;
  }

  header.p4 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  p.m4 {
    margin: 1rem;
  }

  div.mt4 {
    margin-top: 2rem;
  }

}
