<svg class="hidden">
  <defs>
    <g id="burger">
    <rect width="14" height="1.5"/>
    <rect y="4" width="14" height="1.5"/>
    <rect y="8" width="14" height="1.5"/>
    </g>
  </defs>
</svg>

<header class="bg-midnightgray m0 p1 wi-100 b0 bbottom bc bs">
<a class="burger mobile-only hover-blue-fill dib layer2" ng-click="menuOpen = !menuOpen">
    <i class="icon fill-white dib va-middle mr1 mobile-only"><svg x="0px" y="0px" viewBox="0 0 14 14" class="icon hover-blue-fill"><use xlink:href="#burger"></use></svg></i>
  </a>
  <a class="m0 td-none white uppercase ls-2 dib hover-blue va-middle mr2 logo layer1" href="#">Designopensrc</a>
  <ul class="menu dib m0 p0 gray mobile-hidden">
    <li class="dib"><a class="fw-700 td-none white py2" href="#">Designers</a></li>
    <li class="dib"><a class="td-none gray py2 hover-blue" href="#">Projects</a></li>
    <li class="dib"><a class="td-none gray py2 hover-blue" href="#">About</a></li>
  </ul>
  <a class="authentication m0 td-none white fr hover-blue" href="#">Sign In</a>
</header>

<ul class="mobile-menu bg-midnightgray m0 p0 gray hidden fss" ng-class="{ 'menu-open' : menuOpen }">
  <li class="db ta-c p2 b0 bbottom bc bs"><a class="fw-700 td-none white py2" href="#">Designers</a></li>
  <li class="db ta-c p2 b0 bbottom bc bs"><a class="td-none gray py2 hover-blue" href="#">Projects</a></li>
  <li class="db ta-c p2 b0 bbottom bc bs"><a class="td-none gray py2 hover-blue" href="#">About</a></li>
  <li class="db ta-c p2"><a class="td-none gray py2 hover-blue" href="#">Edit Profile</a></li>
</ul>

<div class="contents">
  <div class="white bg-midnightgray m1 p3 rounded ta-c">
    <p class="m0">A list of {{ users.length }} awesome designers willing to work on Open Src projects created by <a href="http://twitter.com/clintonhalpin">@clintonhalpin</a></p>
    <a href="#" ng-click="ctrl.login()" ng-hide="ctrl.auth.user" class="btn mt2">Apply with Github</a>
    <a href="#" ng-click="ctrl.destroy()" ng-show="ctrl.auth.user" class="btn mt2">Remove Me</a>
  </div>
  <div ng-repeat="user in users" class="gray bg-white m1 b1 bc-l bs rounded">
    <div class="mobile-table-cell p1 pb0 m0">
      <img class="wi-80px rounded m0" ng-src="{{ user.data.avatar_url}}">
    </div>
    <div class="mobile-table-cell full-width">
      <p class="m0 blue"><a href="{{ user.data.html_url }}">{{ user.data.login }}</a></>
      <p class="m0 dark-gray"><span class="italic mid-gray">Location</span> {{ user.data.location }} <span class="italic mid-gray">Public Repos</span> {{ user.data.public_repos }}</p>
    </div>
  </div>
  <div class="white bg-midnightgray m1 p3 rounded"><p class="ta-c m0">DesignOpenSrc is a list of designers who are willing to help with open source projects. If you'd like to be added to this list sign in with Github above. For more info, please contact clintonhalpin(at)gmail.com</div>
</div>
